* {
  margin: 0;
  padding: 0;
}
body {
  scroll-behavior: smooth;
}
/* nav {
  height: 10vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(./images/blue-background.jpg);
  background-size: cover;
  position: fixed;
}
nav a {
  text-decoration: none;
  color: rgb(9, 63, 94);
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: rgb(255, 255, 255) 2px 2px 2px;
}
nav a:hover {
  color: rgb(9, 63, 94);
  border-bottom: 1.5px rgb(10, 52, 71) solid;
  text-shadow: white 2px 2px 2px;
} */
header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url(./images/white-wallpaper-hd.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.title {
  height: 40%;
  width: 90%;
  /* border: 1px solid rgb(255, 255, 255); */
  background-color: rgba(0, 0, 0, 0.158);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: rgb(56, 117, 133) 10px 4px 2px;
}
.title-img {
  height: 40%;
}
.title-img img {
  height: 100%;
}
.links {
  height: 40%;
  width: 90%;
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.link-div {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: turquoise; */
  text-align: center;
  /* border: 2px solid rgb(163, 141, 13); */
}
.link-div a {
  height: 100%;
  width: 65%;
  text-decoration: none;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(91, 200, 255) 1px 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  /* border: 2px solid green; */
}
.link-div a:hover {
  color: rgb(13, 88, 138);
  text-shadow: 2px 2px 2px white;
  transition: 0.5s;
  transform: scale(1.1);
}
.link-div a img {
  height: 50%;
  width: 60%;
  border-radius: 15%;
}
