* {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(0, 0, 0);
  /* text-shadow: rgb(0, 0, 0) 4px 2px 2px; */
}
h4 {
  font-size: 25px;
  color: rgb(0, 0, 0);
  /* text-shadow: rgb(0, 0, 0) 4px 2px 2px; */
  line-height: 1.5em;
  text-align: center;
}
p {
  font-size: 18px;
  /* text-shadow: rgb(0, 0, 0) 2px 2px 2px; */
  color: rgb(0, 0, 0);
  /* background-color: rgba(0, 0, 0, 0.322); */
  text-align: center;
}
li {
  width: 90%;
  text-align: left;
  font-size: 18px;
  color: rgb(0, 0, 0);
  /* text-shadow: black 2px 2px 2px; */
}
.img-div {
  height: 30%;
  width: 50%;
  /* background-color: blue; */
}
.img-div img {
  width: 100%;
}

.values-img {
  width: 60%;
}
.learn-img {
  width: 30%;
}
nav {
  height: 8vh;
  width: 100%;
  position: fixed;
  background-color: deepskyblue;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
}
nav a {
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  text-decoration: none;
  font-size: 25px;
  padding: 50px;
  padding-bottom: 30px;
}
nav a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  transition: 0.5s;
  transform: scale(1.1);
}
.title {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  text-transform: capitalize;
}
header {
  height: auto;
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  text-transform: capitalize;
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.582)), */
  /* url(../images/misty-blue-trees.jpg!d); */
  background-attachment: fixed;
  background-size: cover;
}
.box-1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  line-height: 2em;
  position: relative;
  text-transform: capitalize;
}
.box-2 {
  /* background-image: url(../images/white-wallpaper-hd.jpg); */
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
}
.box-2-info {
  height: 100;
  width: 40%;
  line-height: 2em;
  text-align: left;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box-2-info p {
  color: black;
  text-shadow: 2px 2px 2px white;
}
.box-3 {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.582)),
    url(../images/misty-blue-trees.jpg!d); */
  background-attachment: fixed;
  background-size: cover;
}
.box-3-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 90%;
  line-height: 2em;
}
.box-4 {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  line-height: 2em;
  text-transform: capitalize;
}
.box-4-info {
  width: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box-learning {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  line-height: 2em;
  text-transform: capitalize;
}
.box-learn-info {
  width: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tech-box {
  height: 87vh;
  width: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.582)),
    url(../images/misty-blue-trees.jpg!d); */
  background-attachment: fixed;
  background-size: cover;
}
.blog-box {
  height: 100%;
  width: 100%;
  /* background-color: rgb(163, 62, 62); */
  color: rgb(5, 5, 5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.blog-box a {
  color: rgb(253, 253, 253);
  text-shadow: 2px 2px 2px black;
}
.blog-box a:hover {
  color: rgb(0, 0, 0);
  text-shadow: none;
}
.box-tech {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  line-height: 2em;
  text-transform: capitalize;
  /* background-image: url(../images/white-wallpaper-hd.jpg); */
  background-size: cover;
  background-attachment: fixed;
}
.box-tech-info {
  width: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: black;
}
.box-tech-info p {
  color: black;
  text-shadow: white 2px 2px 2px;
}

footer {
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer p {
  padding-left: 5%;
  color: white;
  text-shadow: none;
}
.arrow {
  height: 70%;
  position: absolute;
  scroll-behavior: smooth;
  left: 90%;
  bottom: 17%;
}
.arrow:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  header {
    height: 100%;
  }
  h1 {
    font-size: 1em;
    z-index: 9999999;
  }
}

@media (max-width: 858px) {
  .nav a {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    height: 100%;
    z-index: 999999;
  }
  h1 {
    font-size: 20px;
    z-index: 9999999;
    color: blueviolet;
  }
  .nav a {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  header {
    height: 100%;
    /* background-color: rgb(28, 139, 6); */
  }
  .nav {
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav a {
    /* color: yellow; */
    font-size: 10px;
  }
  h1 {
    font-size: 1em;
    z-index: 9999999;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
